#casters-page {
  margin: 0 1rem;
}

#casters-page form {
  display: flex;
  flex-direction: column;
}

#casters-page form>* {
  margin-bottom: 2rem;
}

#casters-page h1 {
  font-size: 2.4rem;
  text-align: center;
  font-family: 'Teko', sans-serif;
}
