#control-page {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

#control-page > div {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

#control-page .match-title,
#control-page .scheduled-at {
    text-align: center;
}

#control-page .scheduled-at,
#control-page .danger-zone {
    background-color: #292e33;
    margin: 2rem 1rem;
    padding: 1rem 0;
}

#control-page .danger-zone .actions {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
}

#control-page .god-button button {
    font-size: 5rem;
    margin: 2rem;
}

#control-page .god-button .icon {
    width: 100%;
    flex-direction: column;
}


#control-page .next-up .player {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

#control-page .next-up .player .nick {
    flex-grow: 1;
}

#control-page .next-up .player .nick,
#control-page .next-up .player .points,
#control-page .next-up .player .matches {
    padding-left: 1rem;
}

#control-page .next-up .player .avatar {
    height: 6.4rem;
    width: 6.4rem;
}

#control-page .next-up .player img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.3rem;
}

#control-page  .player:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.2);
}

#control-page .next-scheduled .player,
#control-page .in-queue .player {
    padding: 0.5rem 1.5rem;
}


@media(min-width: 992px) {
    #control-page {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "next-up upcoming" "branding upcoming";
    }

    #control-page .players {
        background-color: #292e33;
    }
    #control-page .next-up .player {
        padding: 2.5rem 2rem;
        font-size: 5rem;
    }

    #control-page .next-up .player .avatar {
        height: 10rem;
        width: 10rem;
    }

    #control-page .next-up .player img {
        object-fit: cover;
        object-position: 50% 15%;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.4rem;
    }

    #control-page .next-up .player .nick {
        padding-left: 2rem;
        font-size: 6.4rem;
        margin-top: 0.2em; /* fucking Teko baseline bullshit */
    }

    #control-page .next-up{
        margin: 1rem 1rem;
    }


}
