#disable-users-page {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#disable-users-page h1 {
  font-size: 3.2rem;
  font-family: 'Teko', sans-serif;
  margin: 1em;
  text-align: center;
}

@media(min-width: 992px) {
  #disable-users-page .user-list.enabled .person:hover {
    animation-name: shiver;
    animation-duration: 100ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  #disable-users-page .user-list.disabled .person:hover {
    animation-name: jump;
    animation-duration: 100ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@keyframes shiver {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.2rem);
  }
  75% {
    transform: translateY(-0.2rem);
  }
}
