#running-tournament-page {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

#running-tournament-page h1 {
    font-size: 3.5rem;
}

#running-tournament-page .branding {
    display: flex;
    grid-area: branding;
    padding: 0 1.5rem;
    order: 1;
    margin-top: 3rem;
}

#running-tournament-page .branding .tournament {
    flex-grow: 1;
    padding: 0 2rem;
}

#running-tournament-page .branding .tournament .title {
    font-size: 3.2rem;
    font-weight: 100;
}

#running-tournament-page .branding .tournament .subtitle {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
}

#running-tournament-page .branding .logo img {
    width: 20vw;
}

#running-tournament-page .next-up .player {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

#running-tournament-page .next-up .player .nick {
    flex-grow: 1;
}

#running-tournament-page .next-up .player .nick,
#running-tournament-page .next-up .player .points,
#running-tournament-page .next-up .player .matches {
    padding-left: 1rem;
}

#running-tournament-page .next-up .player .avatar {
    height: 6.4rem;
    width: 6.4rem;
}

#running-tournament-page .next-up .player img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.3rem;
}

#running-tournament-page  .player:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.2);
}

#running-tournament-page .next-scheduled .player,
#running-tournament-page .in-queue .player {
    padding: 0.5rem 1.5rem;
}

#running-tournament-page .match-info {
    text-align: center;
    font-family: "Teko", sans-serif;
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "round | starts-in" "level | eta";
    margin: 1.5rem 0;
}

#running-tournament-page .match-info .level, #running-tournament-page .match-info .eta {
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}

#running-tournament-page .next-scheduled {
    grid-area: next-scheduled;
}

#running-tournament-page .in-queue {
    grid-area: in-queue;
}

#running-tournament-page .upcoming {
    margin-top: 1rem;
}

#running-tournament-page .next-up h1 {
    margin: 0 1.5rem 1rem 1.5rem;
}

#running-tournament-page .upcoming h1 {
    margin: 3rem 1.5rem 1rem 1.5rem;
}

@media(min-width: 992px) {
    #running-tournament-page {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "next-up upcoming" "branding upcoming";
    }
    #running-tournament-page .upcoming {
        grid-area: upcoming;
    }

    #running-tournament-page .next-up h1 {
        font-size: 4.8rem;
        text-align: center;
    }
    #running-tournament-page .players {
        background-color: #292e33;
    }
    #running-tournament-page .next-up .player {
        padding: 2.5rem 2rem;
        font-size: 5rem;
    }

    #running-tournament-page .next-up .player .avatar {
        height: 10rem;
        width: 10rem;
    }

    #running-tournament-page .next-up .player img {
        object-fit: cover;
        object-position: 50% 15%;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.4rem;
    }

    #running-tournament-page .next-up .player .nick {
        padding-left: 2rem;
        font-size: 6.4rem;
        margin-top: 0.2em; /* fucking Teko baseline bullshit */
    }

    #running-tournament-page .next-up,
    #running-tournament-page .upcoming {
        margin: 1rem 1rem;
    }
    #running-tournament-page .match-info {
        font-size: 3.2rem;
    }

    #running-tournament-page .match-info .level, #running-tournament-page .match-info .eta {
        font-size: 6.4rem;
    }
    #running-tournament-page .branding {
        margin: 1rem 0 0 0;
        padding: 0;
        align-items: center;
    }
    #running-tournament-page .branding .logo {
        margin: 3rem;
    }
    #running-tournament-page .branding .logo img {
        max-width: 12rem;
    }
    #running-tournament-page .branding .tournament {
        margin: 0;
        padding: 0;
    }

    #running-tournament-page .branding .tournament .title {
        font-size: 10.5rem;
        line-height: 7.2rem;
    }
    #running-tournament-page .branding .tournament .subtitle {
        font-size: 3.5rem;
    }
}
