#scheduled-tournament-page {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

#scheduled-tournament-page .title h1 {
    font-size: 3.5rem;
    text-align: center;
}

#scheduled-tournament-page .title p {
    font-size: 2rem;
    text-align: center;
}

#scheduled-tournament-page .participation-button-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 2rem;
}

#scheduled-tournament-page .participation-button-container button {
    margin: 1rem 3rem;
}

#scheduled-tournament-page .participants {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem;
    justify-content: space-between;
}

#scheduled-tournament-page .participants .person {
    height: 24vw;
    width: 20vw;
}
#scheduled-tournament-page .participants .person img {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    object-position: 50% 10%;
    border-radius: 50%;
    border-width: 0.3rem;
    position: relative;
    left: -2.5vw;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);

}
#scheduled-tournament-page .participants::after{
    content: "";
    width: 25vw;
}

#scheduled-tournament-page .ribbon-container {
    margin-top: 8rem;
}



@media(min-width: 992px) {
    #scheduled-tournament-page {
        align-items: center;
    }
    #scheduled-tournament-page .title h1 {
        font-size: 8rem;
    }
    #scheduled-tournament-page .title p {
        font-size: 4rem;
    }
    #scheduled-tournament-page .participation-button-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 5rem;
    }

    #scheduled-tournament-page .participation-button-container button {
        font-size: 3rem;
    }
    #scheduled-tournament-page .participants {
        margin: 4rem 10rem;
        justify-content: space-between;
    }
    #scheduled-tournament-page .participants .person {
        height: 7vw;
        width: 6vw;
    }
    #scheduled-tournament-page .participants .person img {
        height: 8vw;
        width: 8vw;
        left: 0;
        box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);
    }

    #scheduled-tournament-page .ribbon-container {
        width: 50vw;
        margin-top: 8rem;
    }
}
