.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.user-list .person {
  width: 30%;
  cursor: pointer;
}

.user-list .person img {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  height: 96px;
}

.user-list .person .name {
  background-color: #406040;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  position: relative;
  top: -1em;
  padding: 0.2em 0;
}

@media(min-width: 992px) {
  .user-list .person {
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
  }
}
